.inner {
    display: flex;
    gap: 100px;
    width: 1600px;
    margin: 0 auto;
    min-height: 400px;
}

.inner>* {
    display: flex;
    /* justify-content: center;
    align-items: center; */

}

.main_section {
    position: relative;
    text-align: center;
}

.m_inner {
    width: 1500px;
    margin: 0 auto;
}

.slogan {
    position: relative;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 50px;
}


.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(335deg);
    width: 720px;
    height: 300px;
    background: url(../images/round.png) no-repeat;
    opacity: 0;
}

.section.on .circle {
    opacity: 1;
}

.star {
    position: absolute;
    font-size: 30px;
    top: 35%;
    left: 40%;
    transform: translate(0, -50%);
    animation: turn 5s linear infinite;
}


@keyframes turn {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.star2 {
    position: absolute;
    font-size: 40px;
    top: 60%;
    left: 60%;
    transform: translate(0, -50%);
    animation: turn 5s linear infinite;
}




/* Section Content */


.section .inner {
    width: 1300px;
    justify-content: space-between;
    margin: 0 auto;

}

.section .content {
    flex: 7;
    background: tomato;
    opacity: 0;
    transform: translate(-300px, 0);
    height: 400px;
    overflow: hidden;
    align-items: start;
    border-radius: 20px;
    border: 2px solid #000;

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.section.on .content {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s 1s;
}


.section .content .case {
    transform: translate(0, 0);
    transition: 1s;
}

.section .content:hover .case {
    transform: translate(0, calc(-100% + 400px));
}


.section .description {
    display: block;
    flex: 3;
    border-radius: 20px;
    align-items: start;
    line-height: 30px;
    opacity: 0;
    transform: translate(300px, 0);

}

.section.on .description {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s 2s;
}



.section .description strong {
    display: block;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 5px;
}

.section .description h2 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section .description h2 img {
    width: 155px;
}

.section .description h2::after {
    display: block;
    content: "";
    height: 1px;
    width: 500px;
    background: #000;
    margin: 20px 0;
    transition: 1s 0.3s;
}


.section .description span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 300;
}



.section .description .txt_row {
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
}

.section .description .txt_row dl,
.section .description .txt_row dd {
    width: 500px;
    font-size: 15px;
    font-weight: 300;
}

.section .description .txt_row dt {
    float: left;
    width: 70px;
    font-size: 15px;
    font-weight: 500;
}

.section .description .txt_row span {
    font-size: 20px;
    font-weight: 300;

}

.section .description .txt_row .color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 2px 0 0 0;
}

.section .description .txt_row .c01 {
    background: #000;
}

.section .description .txt_row .c02 {
    background: #444;
}

.section .description .txt_row .c03 {
    background: #555;
}

.section .description .txt_row .c04 {
    background: #666;
}

.section .description .txt_row .color .toTop {
    position: fixed;
    inset: auto 50px 50px auto;
    z-index: 999;
}

.section .description .btn {
    display: flex;
    justify-content: left;
    width: 350px;
    text-align: center;
}

.section .description .btn a {
    display: block;
    width: 150px;
    height: 40px;
    margin: 35px 15px 0 0;
    background: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    line-height: 40px;
    font-weight: 500;
    transition: 0.5s;

}

/* section 02 */

.sec02 .content {
    background: #ddd;
}

.sec02 .content:hover .case {
    transform: translate(0, calc(-100% + 600px));
}


.sec02 .inner {
    height: 600px;
    border: 2px solid #000;
    border-radius: 20px;
    overflow: hidden;
    gap: 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.sec02 .content {
    flex: 7;
    background: tomato;
    opacity: 0;
    transform: translate(-300px, 0);
    height: 600px;
    overflow: hidden;
    align-items: start;
    border-radius: 0px;
    border: none;

    box-shadow: 0 0 0;
    border-right: 1px solid #ddd;
}




.sec02 .description {
    line-height: 40px;
    padding: 20px 0 50px 0;
}

.sec02 .description strong {
    padding-left: 10px;
}

.sec02 .description .txt_row {
    line-height: 40px;
    font-size: 30px;
}


.sec02 .description h2 {
    padding-left: 10px;
}


.sec02 .description h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 100px;
    width: 510px;
    background: #ddd;
}

.sec02 .description .btn {
    padding-top: 50px;
    padding-left: 10px;
}

.section .description .btn a {
    box-shadow: 0 0 0;

}

.sec02 .description .txt_row {
    padding-left: 10px;
}


/* section 03 */



.sec03 .inner {
    border: 1px solid #000;
    height: 650px;
    border-radius: 20px;
    justify-content: center;
    padding: 100px 30px;
    gap: 30px;
}

.section .content_bg {
    z-index: 999;
    opacity: 0;
    overflow: hidden;
    height: 400px;
    width: 650px;
    background: url(../images/mokup01.png) no-repeat center center/cover;

}


.sec03 .content {
    margin: 15px 55px;
    background: none;
    height: 350px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: -5px;
    opacity: 0;
    border-radius: 10px;
    border: none;

    box-shadow: 0 0 0;
}


.section.on .content_bg {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s 1s;
}

.sec03 .content:hover .case {
    transform: translate(0, calc(-100% + 430px));
}

/* SECTION PROFILE  */

.profile {}


.profile h2 {

    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.profile>div {
    max-width: 800px;
    margin: 0 auto;
    height: 180px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.profile .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transform: rotate(15deg);
}



.profile .career,
.profile .contact {

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 50px;
    border-radius: 50px;
}

.profile .category {
    flex: 3;
}

.profile .elements {
    flex: 7;
    line-height: 20px;
}

.profile .career {
    margin-bottom: 30px;
    background: #000;
    color: #fff;
}









.header {
    position: fixed;
    inset: 50px auto auto 50px;
    z-index: 999;
}


.header.on {
    color: #fff;
}



.header a {
    border: 1px solid #000;
    padding: 10px 10px;
    border-radius: 20px;
}


.gnb {
    position: fixed;
    inset: 50% 50px auto auto;
    transform: translate(0, -40px);
    z-index: 999;

    width: 100px;
}

.gnb li {
    font-size: 0;
}

.gnb li a {
    position: relative;
    display: block;
    height: 10px;
    margin: 5px 0;
}

.gnb li a::before {
    content: "";
    position: absolute;
    inset: 50% 0 auto auto;
    width: 30px;
    height: 1px;
    background: #333;
    transition: 0.5s;
}

.gnb li.on a::before {
    width: 50px;
}




.cover {
    position: fixed;
    inset: 0 0 0 0;
    background: #333;
    color: #fff;
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 0;
    overflow: hidden;
    transition: 1s;
}



.cover.on {
    height: 100vh;
}

.toTop {
    position: fixed;
    inset: auto 50px 50px auto;
    z-index: 999;
}

.mopen {
    position: fixed;
    inset: 50px 50px auto auto;
    z-index: 999;
    width: 30px;
    height: 30px;
    background: #f7f7f7;
}

.mopen::before,
.mopen::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #333;
    transition: 0.3s;
}

.mopen::before {
    inset: 5px 5px auto 5px;
}

.mopen::after {
    inset: auto 5px 5px 5px;
}

.mopen button {
    font-size: 0;
    border: none;
    outline: none;
    background: transparent;
}



.mopen button::before,
.mopen button::after {
    content: "";
    position: absolute;
    inset: 50% 5px auto 5px;
    height: 2px;
    background: #333;
    transition: 0.3s;
}

.mopen button::before {
    transform: translate(0, -50%);
}

.mopen button::after {
    transform: translate(0, -50%);
}


.mopen.on::before {
    opacity: 0;

}

.mopen.on::after {
    opacity: 0;
}

.mopen.on button::before {
    transform: translate(0, -50%) rotate(45deg);
}

.mopen.on button::after {
    transform: translate(0, -50%) rotate(-45deg);
}



aside {
    position: fixed;
    inset: 50px auto auto 50px;
    transform: translate(0, calc(-100% + 500px));
    z-index: 999;

    writing-mode: vertical-lr;
}